@import 'normalize';
@import '~styles/utils';
@import '~styles/settings';
@import '~styles/responsive';

html, * {
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: $body-font-family;
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;

  @include for-desktop() {
    max-width: 80%;
  }
}

h1 {
  @include fontSize($font-size-h1);
}

h2 {
  @include fontSize($font-size-h2);
}

h3 {
  @include fontSize($font-size-h3);
}

h4 {
  @include fontSize($font-size-h4);
}

h5 {
  @include fontSize($font-size-h5);
}

h6 {
  @include fontSize($font-size-h6);
}

p, div, span {
  @include fontSize($font-size-base);
}

small, label {
  @include fontSize($font-size-small);
}

a {
  text-decoration: none;
  color: $link-color;
  p {
    color: $primary-color;
    font-weight: 700;
  }
}

img {
  max-width: 100%;
  width: 100%;
}

ul{
  margin: 0;
  padding: 0;
}

.background {
  &-primary{
    background-color: $primary-color;
  }
  &-secondary{
    background-color: $secondary-color;
  }
  &-white{
    background-color: $white;
  }
}




@import '~styles/common/inputs';
