input[type="submit"] {
  padding: 8px 16px;
  font-weight: 400;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  color: $form-button-font-color;
  background-color: $form-button-background-color;
  @include border-radius(2px);
}

input[type="text"],
input[type="email"],
input[type="number"]{
  width: 100%;
  margin: 3px 0 0;
  background-color: $secondary-background-color;
  @include border-radius(2px);
  color: $primary-color;
  @include fontSize($font-size-base);
  font-weight: bold;
  vertical-align: middle;
  height: $input-height;
  border: 1px solid $primary-color;
}

textarea {
  width: 100%;
  margin: 3px 0 0;
  background-color: $secondary-background-color;
  @include border-radius(2px);
  color: $primary-color;
  @include fontSize($font-size-base);
  font-weight: bold;
  vertical-align: middle;
  min-height: $textarea-height;
  border: 1px solid $primary-color;
}

label {
  font-weight: bold;
  @include fontSize($font-size-base);
}
