<div class="search-engine-container-form">
	<form id="search-engine-form">
		<input type="text" id="search-text-form" name="search-text-form" placeholder="Buscar">
		<button type="submit" id="search-form-submit"><i class="fa fa-search"></button>													 
	</form>
</div>

